<form (ngSubmit)="onSubmit()" #dateForm="ngForm">
    <body>
    <div class="container-fluid wrapper">
        <div class="row col-12" style="margin: 10px 0;">
            <button type="submit" class="btn btn-outline-success" (click)="goBack()">
                <fa-icon [icon]="faArrow"></fa-icon> Retour
            </button>
        </div>
        <div *ngIf="accomodation" class="row">
            <div class="col-md-6 col-xs-12">
                <img src="{{accomodation.pathimg}}" class="img-fluid" alt="Responsive image" />
            </div>
            <div class="col-md-6 col-xs-12">
                <h2> {{ accomodation.camping.charAt(0).toUpperCase() + accomodation.camping.slice(1) }}, {{
                    accomodation.location.charAt(0).toUpperCase() + accomodation.location.slice(1) }} </h2>
                <h5 *ngIf="accomodation.utilities" style="color: gray; font-style: italic;"> {{ accomodation.utilities
                    }}
                </h5>
                <p *ngIf="accomodation.description" style="text-align: justify;"> {{ accomodation.description }} </p>
                <p style="font-style: oblique;">
                    <span *ngIf="accomodation.surface"> Surface disponible: {{ accomodation.surface }} </span> <br>
                    <span *ngIf="accomodation.number"> Numéro d'emplacement: {{ accomodation.number }} </span> <br>
                    <span *ngIf="accomodation.owner"> Proprietaire: {{ accomodation.owner.lastName }} {{
                        accomodation.owner.firstName }} ({{
                        accomodation.owner.mail }})</span>
                </p>
                <div class="row">
                    <h5 class="col-md-1 col-xs-2">
                        Du
                    </h5>
                    <div class="input-group col-md-5 col-xs-10">
                        <input class="form-control" placeholder="Choisir date de début" [(ngModel)]="dateStart"
                            ngbDatepicker #ds="ngbDatepicker" name="dateStart" required>
                        <div class="input-group-append" style="overflow: hidden;">
                            <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <h5 class="col-md-1 col-xs-2">
                        au
                    </h5>
                    <div class="input-group col-md-5 col-xs-10">
                        <input class="form-control" placeholder="Choisir date de fin" [(ngModel)]="dateEnd"
                            ngbDatepicker #de="ngbDatepicker" name="dateEnd" required>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" (click)="de.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block">
                    <div class="row" style="padding: 40px 30px;">
                        <div class="col-md-8 col-xs-8" style="text-align: right;">
                            <h3>{{ accomodation.price }} € / Jour</h3>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <button type="submit" class="btn btn-dark btn-lg btn-block" [class.disabled]="!dateForm.valid">Payer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <!-- TODO Add Home layout for recomandations -->

    <!-- Only appears on sm breakpoint -->
    <footer class="container-fluid footer-fixed d-block d-sm-none">
        <div *ngIf="accomodation" class="row">
            <div class="col-6">
                <h4 style="text-align: center; padding-top: 10%">{{ accomodation.price }} € / Jour</h4>
            </div>
            <div class="col-6" style="padding-top: 5px">
                <button type="submit" class="btn btn-dark btn-block" [class.disabled]="!dateForm.valid">Payer</button>
            </div>
        </div>
    </footer>
</form>
