$footer-size: 50px;

.btn-outline-success {
    border-color: rgba(129, 184, 121, 0.748);
    color: rgba(129, 184, 121, 0.748);
}
.btn-outline-success:hover {
    background-color: rgba(129, 184, 121, 0.748);
    border-color: rgba(129, 184, 121, 0.748);
    color: white;
}

.btn-dark {
    background-color: #685a5a;
}

/* Css on Portrait phone */
@media only screen and (max-width: 768px) {
    /* Sticky Footer on Scroll http://jsfiddle.net/vfSM3/*/

    html,
    body {
        height: 100%;
        padding-bottom: 70px;
        overflow: hidden;
    }

    .wrapper {
        overflow-y: scroll;
        height: calc(100% - $footer-size);
    }

    .footer-fixed {
        z-index: 2;
        position: fixed;
        width: 100%;
        height: $footer-size;
        background: #d1c4c4;
        bottom: 0;
    }
}
