.btn-outline-success {
    border-color: rgba(129, 184, 121, 0.748);
    color: rgba(129, 184, 121, 0.748);
}

.btn-outline-success:hover {
    background-color: rgba(129, 184, 121, 0.748);
    border-color: rgba(129, 184, 121, 0.748);
    color: white;
}

.btn-dark {
    background-color: #685a5a;
}

h4 {
    text-align: right;
    color: #685a5a;
    padding: 20px 0;
}
