<div class="container-fluid" style="padding-bottom: 20px;">
    <div class="row col-12" style="margin: 10px 0;">
        <button type="submit" class="btn btn-outline-success" (click)="goBack()">
            <fa-icon [icon]="faArrow"></fa-icon> Retour
        </button>
    </div>
    <div class="row col-12">
        <h2 style="padding-bottom: 10px;">Récapitulatif de la réservation</h2>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="{{accomodation.pathimg}}" class="img-fluid" alt="Responsive image">
            <h3 style="text-align: center;">{{ accomodation.camping.charAt(0).toUpperCase() +
                accomodation.camping.slice(1) }}, {{
                accomodation.location.charAt(0).toUpperCase() + accomodation.location.slice(1) }}</h3>
        </div>
        <div class="col-md-4 col-xs-12">
            <h5 *ngIf="accomodation.utilities" style="color: gray; font-style: italic;"> {{ accomodation.utilities
                }}
            </h5>
            <p *ngIf="accomodation.description" style="text-align: justify;"> {{ accomodation.description }} </p>
            <h5>Détails du séjour</h5>
            <h6>Arrivée : {{ this.dateStart.format('DD/MM/YYYY') }}</h6>
            <h6>Départ : {{ this.dateEnd.format('DD/MM/YYYY') }}</h6>
            <h6>Durée total du séjour: {{ dateEnd.diff(this.dateStart, 'days') }}</h6>
            <h4>Montant à payer: {{ dateEnd.diff(this.dateStart, 'days') * accomodation.price
                }}€</h4>
        </div>
        <div class="col-md-4 col-xs-12">
            <h2>Vos informations personnelles</h2>
            <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
                <div class="form-group">
                    <h5 class="d-none d-lg-block">Nom</h5>
                    <input type="text" class="form-control" name="nom" placeholder="Entrer votre nom" [(ngModel)]="client.lastName"
                        required>
                </div>
                <div class="form-group">
                    <h5 class="d-none d-lg-block">Prénom</h5>
                    <input type="text" class="form-control" name="prénom" placeholder="Entrer votre prénom" [(ngModel)]="client.firstName"
                        required>
                </div>
                <div class="form-group">
                    <h5 class="d-none d-lg-block">Email</h5>
                    <input type="email" class="form-control" name="email" placeholder="Entrer une adresse mail"
                        [(ngModel)]="client.mail" required>
                </div>
                <div class="form-group">
                    <h5 class="d-none d-lg-block">Téléphone</h5>
                    <input type="text" class="form-control" name="téléphone" placeholder="Entrer un numéro" [(ngModel)]="client.phone">
                </div>
                <!--
                        <div class="form-group">
                            <label for="exampleInputPassword">Mot de Passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    -->
                <h5 class="d-none d-lg-block">Mode de paiement</h5>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-dark btn-block" [class.disabled]="!clientForm.valid">Paypal
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-dark btn-block" [class.disabled]="!clientForm.valid">CB
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
