<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-campsite-heading" jhiTranslate="mycampingApp.campsite.home.createOrEditLabel">Create or edit a Campsite</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!campsite.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="campsite.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.camping" for="field_camping">Camping</label>
                    <input type="text" class="form-control" name="camping" id="field_camping"
                        [(ngModel)]="campsite.camping" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                        [(ngModel)]="campsite.location" required/>
                    <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="campsite.type" required/>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.number" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                        [(ngModel)]="campsite.number" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.surface" for="field_surface">Surface</label>
                    <input type="number" class="form-control" name="surface" id="field_surface"
                        [(ngModel)]="campsite.surface" required/>
                    <div [hidden]="!(editForm.controls.surface?.dirty && editForm.controls.surface?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.surface?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.surface?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.utilities" for="field_utilities">Utilities</label>
                    <input type="text" class="form-control" name="utilities" id="field_utilities"
                        [(ngModel)]="campsite.utilities" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="campsite.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="campsite.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.succDiscount" for="field_succDiscount">Succ Discount</label>
                    <input type="number" class="form-control" name="succDiscount" id="field_succDiscount"
                        [(ngModel)]="campsite.succDiscount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.pathimg" for="field_pathimg">Pathimg</label>
                    <input type="text" class="form-control" name="pathimg" id="field_pathimg"
                        [(ngModel)]="campsite.pathimg" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mycampingApp.campsite.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="campsite.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ownerOption.id === campsite.owner?.id ? campsite.owner : ownerOption" *ngFor="let ownerOption of owners; trackBy: trackOwnerById">{{ownerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
