<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campsite">
            <h2><span jhiTranslate="mycampingApp.campsite.detail.title">Campsite</span> {{campsite.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mycampingApp.campsite.camping">Camping</span></dt>
                <dd>
                    <span>{{campsite.camping}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.location">Location</span></dt>
                <dd>
                    <span>{{campsite.location}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.type">Type</span></dt>
                <dd>
                    <span>{{campsite.type}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.number">Number</span></dt>
                <dd>
                    <span>{{campsite.number}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.surface">Surface</span></dt>
                <dd>
                    <span>{{campsite.surface}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.utilities">Utilities</span></dt>
                <dd>
                    <span>{{campsite.utilities}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.price">Price</span></dt>
                <dd>
                    <span>{{campsite.price}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.description">Description</span></dt>
                <dd>
                    <span>{{campsite.description}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.succDiscount">Succ Discount</span></dt>
                <dd>
                    <span>{{campsite.succDiscount}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.pathimg">Pathimg</span></dt>
                <dd>
                    <span>{{campsite.pathimg}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.campsite.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="campsite.owner">
                        <a [routerLink]="['/owner', campsite.owner?.id, 'view']">{{campsite.owner?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campsite', campsite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
