<div>
    <h2 id="page-heading">
        <span jhiTranslate="mycampingApp.campsite.home.title">Campsites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campsite" [routerLink]="['/campsite/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mycampingApp.campsite.home.createLabel">
            Create new Campsite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campsites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.camping">Camping</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.location">Location</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.type">Type</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.number">Number</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.surface">Surface</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.utilities">Utilities</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.price">Price</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.description">Description</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.succDiscount">Succ Discount</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.pathimg">Pathimg</span></th>
            <th><span jhiTranslate="mycampingApp.campsite.owner">Owner</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campsite of campsites ;trackBy: trackId">
                <td><a [routerLink]="['/campsite', campsite.id, 'view' ]">{{campsite.id}}</a></td>
                <td>{{campsite.camping}}</td>
                <td>{{campsite.location}}</td>
                <td>{{campsite.type}}</td>
                <td>{{campsite.number}}</td>
                <td>{{campsite.surface}}</td>
                <td>{{campsite.utilities}}</td>
                <td>{{campsite.price}}</td>
                <td>{{campsite.description}}</td>
                <td>{{campsite.succDiscount}}</td>
                <td>{{campsite.pathimg}}</td>
                <td>
                    <div *ngIf="campsite.owner">
                        <a [routerLink]="['../owner', campsite.owner?.id, 'view' ]" >{{campsite.owner?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campsite', campsite.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campsite', campsite.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campsite/'+ campsite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
