<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="mycampingApp.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mycampingApp.client.firstName">First Name</span></dt>
                <dd>
                    <span>{{client.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.client.lastName">Last Name</span></dt>
                <dd>
                    <span>{{client.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.client.userName">User Name</span></dt>
                <dd>
                    <span>{{client.userName}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.client.password">Password</span></dt>
                <dd>
                    <span>{{client.password}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.client.mail">Mail</span></dt>
                <dd>
                    <span>{{client.mail}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.client.phone">Phone</span></dt>
                <dd>
                    <span>{{client.phone}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
