/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #685a5a;
}

.jh-navbar {
    background-color: #d1c4c4;
    padding: 0.2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: white;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #685a5a;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #d1c4c4;
        }
    }
}

.navbar-title {
    color: #685a5a;
    padding: 5px 15px;
    display: inline-block;
    vertical-align: middle;
}
