/* ==========================================================================
Main page styles
========================================================================== */
// Home (image) style
.home {
    position: absolute;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    text-align: center;
    background-image: url('../../content/images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// Catalogue style
.list {
    text-align: center;
    width: auto;
    padding-bottom: 10px;
}

.search {
    padding-top: 15%;
    margin-left: 8px;
}

.partSearch {
    padding-top: 5px;
    padding-bottom: 5px;
}

// Style of the multiselect dropdown button
:host::ng-deep.dropdown-btn {
    background: white !important;
    color: gray !important;
}
:host::ng-deep.multiselect-item-checkbox {
    color: #b19b9b !important;
}
:host::ng-deep.selected-item {
    border-radius: 6px !important;
    background: #b19b9b !important;
    border: 1px solid #817171 !important;
}
