<div class="container-fluid">
    <div [class]="onDisplayClass(true)">
        <div [class]="onDisplayClass(false)">
            <div class="partSearch input-group row col-12">
                <input type="text" class="form-control" [(ngModel)]="formSearch.place" placeholder="Lieu...">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="onRechercher()">Rechercher</button>
                </div>
            </div>
            <div class="row col-12">
                <div class="partSearch col-lg-6 col-xs-12 dropdown-custom">
                    <ng-multiselect-dropdown [placeholder]="'Choisir un type de location'" [data]="typeList"
                        [(ngModel)]="formSearch.selectedType" [settings]="typeSettings">
                    </ng-multiselect-dropdown>
                </div>
                <div class="partSearch input-group col-lg-3 col-xs-6">
                    <input class="form-control" placeholder="Choisir date de début" [(ngModel)]="formSearch.dateStart"
                        ngbDatepicker #ds="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                            <fa-icon [icon]="faCalendar"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="partSearch input-group col-lg-3 col-xs-6">
                    <input class="form-control" placeholder="Choisir date de fin" [(ngModel)]="formSearch.dateEnd"
                        ngbDatepicker #de="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="de.toggle()" type="button">
                            <fa-icon [icon]="faCalendar"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="displayMore === 'Moins de filtres'" class="row col-12">
                <div class="partSearch input-group col-lg-2 col-xs-6">
                    <input type="number" class="form-control" [(ngModel)]="formSearch.surfaceMin" placeholder="Surface minimale">
                </div>
                <div class="partSearch input-group col-lg-2 col-xs-6">
                    <input type="number" class="form-control" [(ngModel)]="formSearch.surfaceMax" placeholder="Surface maximale">
                </div>
                <div class="partSearch input-group col-lg-2 col-xs-6">
                    <input type="number" class="form-control" [(ngModel)]="formSearch.priceMin" placeholder="Prix min">
                </div>
                <div class="partSearch input-group col-lg-2 col-xs-6">
                    <input type="number" class="form-control" [(ngModel)]="formSearch.priceMax" placeholder="Prix max">
                </div>
                <div class="partSearch col-lg-4 col-xs-12 dropdown-custom">
                    <ng-multiselect-dropdown [placeholder]="'Choisir les commodités (3 max.)'" [data]="utilityList"
                        [(ngModel)]="formSearch.selectedUtility" [settings]="utilitySettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="onClickMore()">
                <fa-icon [icon]="faAngle"></fa-icon> {{ displayMore }}
            </button>
        </div>
    </div>
    <div *ngIf="!displayImage && !campsites.length" style="padding-top: 10px; text-align: center;">
        Aucun camping trouvé
    </div>

    <div class="row" style="padding-bottom: 10px;" *ngFor="let accomodation of campsites">
        <div class="col-lg-4 col-xs-12">
            <img src="{{accomodation.pathimg}}" class="img-thumbnail">
        </div>
        <div class="col-lg-8 col-xs-12">
            <h1> {{ accomodation.camping.charAt(0).toUpperCase() + accomodation.camping.slice(1) }},
                {{accomodation.location.charAt(0).toUpperCase() + accomodation.location.slice(1)}} </h1>
            <h5 style="color: gray; font-style: italic;"> {{ accomodation.utilities }} </h5>
            <p style="text-align: justify;"> {{ accomodation.description }} </p>
            <h4> {{ accomodation.price }} €</h4>
            <div style="text-align: right">
                <button class="btn btn-outline-secondary" type="button" (click)="onClick(accomodation.id)">
                    Voir Plus <fa-icon [icon]="faArrow"></fa-icon> </button>
            </div>
        </div>
    </div>
