<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="owner">
            <h2><span jhiTranslate="mycampingApp.owner.detail.title">Owner</span> {{owner.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mycampingApp.owner.firstName">First Name</span></dt>
                <dd>
                    <span>{{owner.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.owner.lastName">Last Name</span></dt>
                <dd>
                    <span>{{owner.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.owner.userName">User Name</span></dt>
                <dd>
                    <span>{{owner.userName}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.owner.password">Password</span></dt>
                <dd>
                    <span>{{owner.password}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.owner.mail">Mail</span></dt>
                <dd>
                    <span>{{owner.mail}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.owner.phone">Phone</span></dt>
                <dd>
                    <span>{{owner.phone}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/owner', owner.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
