<div>
    <h2 id="page-heading">
        <span jhiTranslate="mycampingApp.owner.home.title">Owners</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-owner" [routerLink]="['/owner/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mycampingApp.owner.home.createLabel">
            Create new Owner
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="owners">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mycampingApp.owner.firstName">First Name</span></th>
            <th><span jhiTranslate="mycampingApp.owner.lastName">Last Name</span></th>
            <th><span jhiTranslate="mycampingApp.owner.userName">User Name</span></th>
            <th><span jhiTranslate="mycampingApp.owner.password">Password</span></th>
            <th><span jhiTranslate="mycampingApp.owner.mail">Mail</span></th>
            <th><span jhiTranslate="mycampingApp.owner.phone">Phone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let owner of owners ;trackBy: trackId">
                <td><a [routerLink]="['/owner', owner.id, 'view' ]">{{owner.id}}</a></td>
                <td>{{owner.firstName}}</td>
                <td>{{owner.lastName}}</td>
                <td>{{owner.userName}}</td>
                <td>{{owner.password}}</td>
                <td>{{owner.mail}}</td>
                <td>{{owner.phone}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/owner', owner.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/owner', owner.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'owner/'+ owner.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
