<div>
    <h2 id="page-heading">
        <span jhiTranslate="mycampingApp.discount.home.title">Discounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-discount" [routerLink]="['/discount/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mycampingApp.discount.home.createLabel">
            Create new Discount
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="discounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mycampingApp.discount.percentage">Percentage</span></th>
            <th><span jhiTranslate="mycampingApp.discount.startDate">Start Date</span></th>
            <th><span jhiTranslate="mycampingApp.discount.endDate">End Date</span></th>
            <th><span jhiTranslate="mycampingApp.discount.campsite">Campsite</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let discount of discounts ;trackBy: trackId">
                <td><a [routerLink]="['/discount', discount.id, 'view' ]">{{discount.id}}</a></td>
                <td>{{discount.percentage}}</td>
                <td>{{discount.startDate | date:'mediumDate'}}</td>
                <td>{{discount.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="discount.campsite">
                        <a [routerLink]="['../campsite', discount.campsite?.id, 'view' ]" >{{discount.campsite?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/discount', discount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/discount', discount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'discount/'+ discount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
