<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discount">
            <h2><span jhiTranslate="mycampingApp.discount.detail.title">Discount</span> {{discount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mycampingApp.discount.percentage">Percentage</span></dt>
                <dd>
                    <span>{{discount.percentage}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.discount.startDate">Start Date</span></dt>
                <dd>
                    <span>{{discount.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.discount.endDate">End Date</span></dt>
                <dd>
                    <span>{{discount.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.discount.campsite">Campsite</span></dt>
                <dd>
                    <div *ngIf="discount.campsite">
                        <a [routerLink]="['/campsite', discount.campsite?.id, 'view']">{{discount.campsite?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount', discount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
