<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rent">
            <h2><span jhiTranslate="mycampingApp.rent.detail.title">Rent</span> {{rent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mycampingApp.rent.startDate">Start Date</span></dt>
                <dd>
                    <span>{{rent.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.rent.endDate">End Date</span></dt>
                <dd>
                    <span>{{rent.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.rent.totalDiscount">Total Discount</span></dt>
                <dd>
                    <span>{{rent.totalDiscount}}</span>
                </dd>
                <dt><span jhiTranslate="mycampingApp.rent.campsite">Campsite</span></dt>
                <dd>
                    <div *ngIf="rent.campsite">
                        <a [routerLink]="['/campsite', rent.campsite?.id, 'view']">{{rent.campsite?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mycampingApp.rent.client">Client</span></dt>
                <dd>
                    <div *ngIf="rent.client">
                        <a [routerLink]="['/client', rent.client?.id, 'view']">{{rent.client?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rent', rent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
