<div>
    <h2 id="page-heading">
        <span jhiTranslate="mycampingApp.rent.home.title">Rents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rent" [routerLink]="['/rent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mycampingApp.rent.home.createLabel">
            Create new Rent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mycampingApp.rent.startDate">Start Date</span></th>
            <th><span jhiTranslate="mycampingApp.rent.endDate">End Date</span></th>
            <th><span jhiTranslate="mycampingApp.rent.totalDiscount">Total Discount</span></th>
            <th><span jhiTranslate="mycampingApp.rent.campsite">Campsite</span></th>
            <th><span jhiTranslate="mycampingApp.rent.client">Client</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rent of rents ;trackBy: trackId">
                <td><a [routerLink]="['/rent', rent.id, 'view' ]">{{rent.id}}</a></td>
                <td>{{rent.startDate | date:'mediumDate'}}</td>
                <td>{{rent.endDate | date:'mediumDate'}}</td>
                <td>{{rent.totalDiscount}}</td>
                <td>
                    <div *ngIf="rent.campsite">
                        <a [routerLink]="['../campsite', rent.campsite?.id, 'view' ]" >{{rent.campsite?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rent.client">
                        <a [routerLink]="['../client', rent.client?.id, 'view' ]" >{{rent.client?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rent', rent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rent', rent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rent/'+ rent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
